@charset "UTF-8";

h1{
	padding : 10px;
}

.find_box{
	width : 50%;
	height : 400px;
	border: 1px solid #d9d9d9;
	margin : auto;
	margin-top : 20px;
	margin-bottom : 20px;
}

.find_box img {
	/* width: 100%; */
	height: 400px;
}

.text_box{
	margin : 20px 0px 20px 0px;
}

.p{
	width : 370px;
	text-align: left;
	margin : auto;
	padding-left  :15px;
}

.item_recomend{
	margin : auto;
	width : 370px;
}

.item_recomend li{
	float: left;
	margin : 10px;
	border: 1px solid red;
	width : 100px;
	height : 100px;
}

.item_recomend li img{
	width: 100%;
}

#item_result{
	border: none;
	text-align: center;
	width: 200px;
}