
	.secssion h2 {
	 	
		padding-top: 50px;
		text-align: center;
	}
	.list img{
		width:150px; 
		height:150px; 
		margin-left:20%;
		float: left;
	}
	

	.list {	
			 
	    box-shadow: 0px 9px 30px rgba(200, 200, 200, 0.30);
	    padding: 5px;
	    width: 240px;
	    height: 240px;
	    margin: 10px;
	    font-weight: bold;
	    text-align: center;
	    border-radius: 5px;	   
	    transition: box-shadow .3s, border-color .3s;
	}

	
	.listContainer {	
			
      	padding-left: 5px;
   		padding-right: 5px;
		margin-top: 100px;
		list-style: none;		
		display: flex;		  
		flex-flow: row wrap;
		justify-content: center;
		width: 100%;
	}
	
	
	#qna_insert_button img {
		width:10px;
		height:10px;
	}
	
	#qna_insert_button span {
		font-size: 14px;
	}
	
	table{
		padding-top: 30px;
		width:100%;	
	}
	
	table tr{
		margin-top:20px;
	}
	