
/*네비게이션 바(메인바)*/

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
   
}
.dropdown .dropdown-menu{
	border: none;
	
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	color:black;
	font-weight: bold;
	text-decoration: none;
}
