@charset "UTF-8";
/*---------set------------*/
*{
    margin: 0;
    padding: 0;
}

li,ul,ol {list-style: none;}

a{
    color: black;
    text-decoration: none;
}

/*------header------------*/
#header > span{
	float: left;
	margin-left: 48%;
	cursor: pointer;
}

#header{
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100px;
    z-index: 1;
}

/*---------nav------------*/
.bottom_menu {
	display: none;
	background-color: white;
	opacity: 0.5;
}

.bottom_menu li:hover {
	font-weight: bold;
	color: red;
	font-size: 20px;
}

.top_menu{
    width: 100%;
    position: absolute;
    background-color: #353b48;
    height: 50px;
    top: 50px;
    z-index: 1;
}

.top_menu ul {
    width: 760px;
    height: 50px;
    position: absolute;
    top: 0px;
    margin-left: 26%;
    background-color: #353b48;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.top_menu ul > li {
    float: left;
    width: 150px;
    line-height: 50px;
    text-align: center;
}

.top_menu ul > li > ol > li {
    color: black;
}

.nav_icon{
    background-color: white;
    float: right;
    margin-right: 10%;
    cursor: pointer;
}
.nav_icon > li{
    background-color: white;
    float: left;
    line-height: 30px;
    width: 60px;
}

.nav_icon:after {
    clear: both;
    content: '';
    display: block;
}

.nav_icon > li > img{
	width: 30px;
	height: 30px;
	margin-top: 10px;
}

/*---------section------------*/

.secssion{
    width: 80%;
    margin: auto;
    /*border-left: 1px solid #dfe6e9;
    border-right: 1px solid #dfe6e9;*/
    /*background-image: url(resources/img/backg.jpg);*/
}

#reviewbox{
}

#review_table{
	width: 100%;
	height: 500px;
	text-align: left;
	margin-top: 100px;
	border: 1px solid gray;
}

.insert_btn{
	background-color: white;
	color: black;
	padding: 5px;
}

.starR1{
    background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat -52px 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer;
}
.starR2{
    background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer;
}
.starR1.on{background-position:0 0;}
.starR2.on{background-position:-15px 0;}

/*------------content----------------  */

/*-----------contentosm  ----------------------  */

.table{
	width: 100%;
	height:100%;
	position: relative;
}
.table2{
	width: 100%;
	height: 70%;
	background:green;
	position: absolute;	
	margin-top: 10%;
}
.
.table3{
	width: 100%;
	height: 100%;
	background: orange;
	position: relative;
	float: left;
	}
.table4{
	width: 100%;
	height: 75%;
	margin-top: 5%;
	background: gray;
	position: absolute;
}
.table5{
	width: 100%;
	height: 100%;
	background: yellowgreen;
	position: absolute;
}
.content .img2{
	margin-bottom: 50px;
}


.img1{
	background: red;
	width: 15%;
	height: 25%;
	position: absolute;
	margin-left: 10%;
	}


div{
	display: block;
}
span{
	height: 20px;
}


.reply{
	text-align: left;
	margin-left: 10%;
	margin-top: 1%;
	margin-right:5%;
	background: #d3d3d3;
	text-align: center;
	
}
.ID{
	width:25%;
	height: 20px;
}
.rep{
	width: 50%;
	height: 20px;
	
}

.info{
	width: 40%;
	height: 30%;
	background: skyblue;
	margin-left: 25%;
	text-align: center;
	border-spacing: 10px 10px;
}

.upload{
	text-align:center;
	margin-left: 15%;
	margin-right:15%;
	background-color: black;
}








/*-----------side------------*/
#side{
	
}

.sidebar{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
	margin-bottom: 15px;
	margin-left: 95%;
	box-shadow: 0px 0px 5px 0px gray;
	background-color: #353b48;
	color: white;
	cursor: pointer;
}

.sidefix{
	position: fixed;
	float: left;
	margin-left: 90%;
	top: 500px;
	z-index: 100;
}

/*---------footer------------*/
.footer{
    padding: 10px 0px 10px 0px;
    background-color: #4b4b4b;
    color: white;
}
.footer_info{
	margin-left: 15%;
}

