@charset "UTF-8";

/*---내용 => 공통사항---*/
.secssion{
	width: 80%;
	margin: auto;
}



/*---------set------------*/
*{
    margin: 0;
    padding: 0;
}

li,ul,ol {list-style: none;}

a{
    color: black;
    text-decoration: none;
}



/*-----------side------------*/
#side{
	
}

.sidebar{
	width: 50px;
	height: 50px;
	margin-top: 10px;
	border-radius: 50%;
	text-align: center;
	box-shadow: 0px 0px 5px 0px gray;
	background-color: #3B3B98;
	color: white;
	cursor: pointer;
}

.sidefix{
	position: fixed;
	margin-left: 95%;
	top: 500px;
	z-index: 100;
}

/*---------footer------------*/
.footer{
    padding: 10px 0px 10px 0px;
    background-color: #4b4b4b;
    color: white;
}
.footer_info{
	margin-left: 15%;
}

