	#box{
		border : 1px solid black;
		width : 100%;
		height : 80%;
	}
	
	#box_tb{
		margin : auto;
		margin-top : 30%;
		width : 80%;
	}
	
	.search_bt{
		background-color : white;
		border : 0;
	}
	
	#search{
		width : 95%;
	}
	
	
.secssion{
	padding-top: 10%;
}
	
	
	
	
	
	